* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* ===== PAGE LAYOUT ===== */
body {
  height: 100vh;
  background: linear-gradient(135deg, #1f1c2c, #928dab, #4facfe, #00f2fe);
  overflow: hidden;
}

/* MAIN FLEX LAYOUT */
.page {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

/* ===== SIDE AREAS ===== */
.side {
  width: 25%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* ===== CENTER FORM ===== */
.upload-box {
  width: 450px;
  padding: 25px;
  border-radius: 16px;

  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.15);
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);

  text-align: center;
  color: white;

  z-index: 10;
}

/* heading */
.upload-box h1 {
  font-size: 22px;
}

.upload-box p {
  font-size: 13px;
  opacity: 0.8;
  margin-bottom: 15px;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-size: 12px;
  margin-top: 10px;
  color: #ddd;
}

input, select {
  padding: 9px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  background: linear-gradient(90deg, #38bdf8, #595cf7);
  color: white;
}

/* ===== BOOK ANIMATION ===== */
.book {
  position: absolute;
  font-size: 50px;
  opacity: 0.7;
}

/* LEFT SIDE MOVING BOOKS */
.b1 {
  top: 20%;
  left: -60px;
  animation: moveRight 6s infinite ease-in-out;
}

.b2 {
  top: 60%;
  left: -80px;
  animation: moveRight 8s infinite ease-in-out;
}

/* RIGHT SIDE MOVING BOOKS */
.b3 {
  top: 30%;
  right: -60px;
  animation: moveLeft 7s infinite ease-in-out;
}

.b4 {
  top: 70%;
  right: -80px;
  animation: moveLeft 5s infinite ease-in-out;
}

/* animations */
@keyframes moveRight {
  0% {
    transform: translateX(0px) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateX(120px) rotate(10deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0px) rotate(0deg);
    opacity: 0;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0px) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateX(-120px) rotate(-10deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0px) rotate(0deg);
    opacity: 0;
  }
}

