<!DOCTYPE html>
<html>
<head>
<title>Student Dashboard</title>
<link rel="stylesheet" href="/dashboard.css">
</head>

<body>

<h1 class="title">Student Dashboard</h1>
<p class="subtitle">Select Your Department</p>

<div class="dept-container">

<a href="/cse" class="dept-card">
<img src="https://images.unsplash.com/photo-1518770660439-4636190af475">
<div class="dept-name">Computer Science</div>
</a>

<a href="/it" class="dept-card">
<img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c">
<div class="dept-name">Information Technology</div>
</a>

<a href="/ece" class="dept-card">
<img src="https://images.unsplash.com/photo-1581092580497-e0d23cbdf1dc">
<div class="dept-name">Electronics</div>
</a>

<a href="/mech" class="dept-card">
<img src="https://images.unsplash.com/photo-1581093458791-9f3c3900df4b?auto=format&fit=crop&w=800&q=80">
<div class="dept-name">Mechanical</div>
</a>

<a href="/civil" class="dept-card">
<img src="https://images.unsplash.com/photo-1503387762-592deb58ef4e">
<div class="dept-name">Civil Engineering</div>
</a>

<a href="/ai" class="dept-card">
<img src="https://images.unsplash.com/photo-1677442136019-21780ecad995">
<div class="dept-name">Artificial Intelligence</div>
</a>

<a href="/agri" class="dept-card">
<img src="https://images.unsplash.com/photo-1500382017468-9049fed747ef">
<div class="dept-name">Agriculture</div>
</a>

</div>

</body>
</html>